node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.next/*
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
test.json
.next/*
.DS_Store
utt-venv
requirements_1.txt
api/src/models/v1_0/kokoro-v1_0.pth
.env.local
logs/*
utter-venv/*